.body {
    margin: 2% auto auto auto;
    padding: 0;


}
.header {
    position: relative;
    font-size: 70px;
    margin : 5%;
    font-family: 'Spectral SC', serif;

}
.input {
    width: 260px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px, 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transform: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.input:focus {
width: 80%
}
.img {
    width: 200px;
    height: 200px;
    margin : 4%;
}
.button {
    margin: 2%;
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 150px;
    
}
.output {
    margin: 2% auto auto auto;
    font-size: 20px;
}
.footer {
    margin: 4%;
    font-size: 12px;

}
.heart {
    color : red;
}